.container {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 450px;
    background-color: #EEF6FB;
    border: solid white 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 15px 0px #000000;
}

.current {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.today {
    display: flex;
    flex-direction: row;
}

.today-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.forecast-cont {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.box {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    border: solid white 6px;
}