.navbar-cont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.city {
    font-family: 'Open Sans';
    text-decoration: none;
}

.city:hover {
    text-decoration: none;
}

